# Build directories
build/
build-*/
build_*
generated/

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
cmake-build-debug/
install_manifest.txt

# Pico SDK/Toolchain
.pio/
.elf
.bin
.uf2
.hex
.map
.dis
Testing
compile_commands.json
CTestTestfile.cmake
_deps
bs2_default*
.ninja_deps
.ninja_log
pico-sdk/

# IDE Settings
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# KiCad Files
**/PicoX68Key-backups/*
**/PicoX68Key.LED-backups/*
**/*.lck
**/*.bak
kicad/gerber/**/*.zip
kicad/_autosave-*
